<%= image_tag('treehope.jpg',alt: 'logo', width: '200', height: '120', :style => "border: 5px solid black") %>




<div class="page-header">
  <h1 class="text-center"> The Missing </h1>
</div>


<%= image_tag('missing-logo.jpg', alt: 'missing', width: '700', height: '500') %>

<div style='width: 800px;'>
  <div id="overview_map" style='width: 800px; height: 400px;'></div>
</div>


<script>
$(document).ready(function(){
  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'overview_map'}}, function(){
  markers = handler.addMarkers(<%= raw @missing_people.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

});
</script>

