<h1>On average, 90,000 people are missing in the USA at any given time! </h1>
<h2> 50,569 are adults</h2>
<h2> 33,388 are children</h2>


<%= link_to "Help Bring Us Home", overview_path, {class: "btn btn-success"} %>
<%= image_tag('teddybear.jpg', alt: 'Kid', width: '700', height: '500') %>


<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>





<p>© <%= Date.today.year %> My App.</p>
