<h1> About Me</h1>

<%= image_tag('holly.jpg', alt: 'Holly!', width: '500', height: '500') %>







<a target="Holly's LinkedIn" href="https://goo.gl/Ln1jvg">Holly's LinkedIn Profile</a>
<p>

  <a target="Holly's Github" href="https://github.com/Hollywilkerson">Holly's GitHub</a>
  </div>

<p>© <%= Date.today.year %> My App.</p>




