<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Holly's HomePage</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="https://www.nami.org/Find-Support/Family-Members-and-Caregivers/Finding-a-Missing-Loved-One">First Steps</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Make A Difference
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://secure.missingkids.org/Donate">Donate</a></li>
            <li><a href="#">Participate in a local search</a></li>
            <li><a href="https://tips.fbi.gov">Have a Tip?</a></li>
            <li><a href="http://www.helpbringthemhome.org.au/media/1036/preventiontips.pdf">Prevention Tips For Parents</a></li>
          </ul>
        </li>
        <li><a href="http://www.missingkids.org/amber">Missing Children Alerts</a></li>
        <li><a href="#">1-800-THE-LOST</a></li>
        <li><%= link_to "About Me", about_path %> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:3000/users/sign_up"><span class="glyphicon glyphicon-log-in"></span> SignUp</a></li>
        <li><%= link_to "Missing People", overview_url %></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>

